[View in Colaboratory](https://colab.research.google.com/github/nmehra98/mlfrstassgn/blob/master/Assignment_14.ipynb)

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.preprocessing import*
%matplotlib inline

In [2]:
# Question 1

df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data")
df

     B  1  1.1  1.2  1.3
0    R  1    1    1    2
1    R  1    1    1    3
2    R  1    1    1    4
3    R  1    1    1    5
4    R  1    1    2    1
5    R  1    1    2    2
6    R  1    1    2    3
7    R  1    1    2    4
8    R  1    1    2    5
9    R  1    1    3    1
10   R  1    1    3    2
11   R  1    1    3    3
12   R  1    1    3    4
13   R  1    1    3    5
14   R  1    1    4    1
15   R  1    1    4    2
16   R  1    1    4    3
17   R  1    1    4    4
18   R  1    1    4    5
19   R  1    1    5    1
20   R  1    1    5    2
21   R  1    1    5    3
22   R  1    1    5    4
23   R  1    1    5    5
24   L  1    2    1    1
25   B  1    2    1    2
26   R  1    2    1    3
27   R  1    2    1    4
28   R  1    2    1    5
29   B  1    2    2    1
..  .. ..  ...  ...  ...
594  L  5    4    5    1
595  L  5    4    5    2
596  L  5    4    5    3
597  B  5    4    5    4
598  R  5    4    5    5
599  L  5    5    1    1
600  L  5    5    1    2
601  L  5    5    1    3
602  L  5    5    1    4
603  L  5    5    1    5
604  L  5    5    2    1
605  L  5    5    2    2
606  L  5    5    2    3
607  L  5    5    2    4
608  L  5    5    2    5
609  L  5    5    3    1
610  L  5    5    3    2
611  L  5    5    3    3
612  L  5    5    3    4
613  L  5    5    3    5
614  L  5    5    4    1
615  L  5    5    4    2
616  L  5    5    4    3
617  L  5    5    4    4
618  L  5    5    4    5
619  L  5    5    5    1
620  L  5    5    5    2
621  L  5    5    5    3
622  L  5    5    5    4
623  B  5    5    5    5

[624 rows x 5 columns]

In [4]:
df.head()

   B  1  1.1  1.2  1.3
0  R  1    1    1    2
1  R  1    1    1    3
2  R  1    1    1    4
3  R  1    1    1    5
4  R  1    1    2    1

In [5]:
df.shape

(624, 5)

In [0]:
# Question 2

x=df.drop(["B"],axis=1)
y=df["B"]

In [0]:
# Question 3

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [0]:
# Question 4

from sklearn import tree

In [14]:
# 4 A : GINI

model = tree.DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [15]:
pred = model.predict(x_test)
pred

array(['L', 'R', 'R', 'R', 'R', 'R', 'L', 'R', 'R', 'R', 'R', 'R', 'L',
       'R', 'L', 'L', 'L', 'L', 'L', 'L', 'R', 'L', 'R', 'L', 'R', 'L',
       'R', 'L', 'R', 'R', 'L', 'L', 'R', 'L', 'L', 'L', 'L', 'L', 'L',
       'L', 'R', 'R', 'L', 'L', 'R', 'L', 'B', 'L', 'R', 'R', 'R', 'R',
       'L', 'L', 'L', 'L', 'R', 'L', 'R', 'L', 'L', 'R', 'L', 'R', 'L',
       'R', 'L', 'R', 'R', 'B', 'L', 'R', 'R', 'R', 'R', 'R', 'R', 'L',
       'L', 'L', 'L', 'L', 'R', 'R', 'R', 'L', 'R', 'L', 'R', 'L', 'L',
       'L', 'L', 'L', 'L', 'R', 'R', 'L', 'R', 'L', 'B', 'L', 'B', 'L',
       'L', 'R', 'L', 'L', 'R', 'L', 'L', 'R', 'R', 'L', 'R', 'L', 'L',
       'L', 'L', 'R', 'L', 'R', 'L', 'R', 'R', 'R', 'R', 'L', 'L', 'L',
       'L', 'L', 'R', 'R', 'R', 'L', 'L', 'R', 'L', 'L', 'R', 'R', 'R',
       'B', 'L', 'L', 'R', 'R', 'R', 'L', 'R', 'R', 'L', 'R', 'R', 'L',
       'L', 'R', 'L', 'L', 'L', 'B', 'R', 'L', 'R', 'L', 'R', 'R', 'L',
       'L', 'R', 'L', 'R', 'B', 'B', 'R', 'R', 'L', 'L', 'B', 'B', 'L',
       'R', 'L', 'L', 'R', 'L', 'L'], dtype=object)

In [16]:
from sklearn import metrics
metrics.accuracy_score(y_test,pred)

0.8191489361702128

In [76]:
# 4 B : Entropy

model1 = tree.DecisionTreeClassifier(criterion="entropy")
model1.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [0]:
pred1 = model1.predict(x_test)

In [78]:
from sklearn import metrics
metrics.accuracy_score(y_test,pred1)

0.7925531914893617

In [126]:
# Question 5
# Random Forest
# 5 A : GINI

rf=RandomForestClassifier(max_leaf_nodes=40)
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=40,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [0]:
pred2 = rf.predict(x_test)

In [128]:
metrics.accuracy_score(y_test,pred2)

0.8563829787234043

In [117]:
# 5 B : Entropy

rf=RandomForestClassifier(criterion="entropy",max_leaf_nodes=35)
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=35,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [0]:

pred3=rf.predict(x_test)

In [119]:
metrics.accuracy_score(y_test,pred3)

0.851063829787234